$text: $base07;
$base: #282828;
$surface1: #665c59;
$border-radius: 0px;

.debug {
    border: 1px solid red;
}

.mb-2 {
    margin-bottom: 2.5px;
}

.bar-section {
    $horizontal-margin: 5px;
    margin-right: $horizontal-margin;
    margin-left: $horizontal-margin;
}

$colors: (
    "red": $base08,
    "orange": $base09,
    "yellow": $base0A,
    "green": $base0B,
    "aqua": $base0C,
    "blue": $base0D,
    "pink": $base0E,
    "plain": $text,
);

@mixin urgency {
    &.info {
        color: $base0E;
    }

    &.normal {
        color: $base0C;
    }

    &.critical {
        color: $base08;
    }
}

.container {
    border-radius: $border-radius;
    background-color: $base;
    margin: 20px;
    padding: 12px;


    font-family: "FiraCode Nerd Font";
    color: $text;

    &.horizontal {
        padding: 10px 40px;
    }
}

.command-button {
    background-color: $base;
    padding: 25px 60px;
    color: $text;

    &.horizontal {
        color: green;
        border: 1px solid red;
        margin: 10px;
    }
}

.icon {
    font-size: 20px;
}

.subtext {
    color: $base04;

    &.small {
        font-size: 12px;
    }
}

.bar {
    font-family: "FiraCode Nerd Font";
    background-color: $base;
    color: $text;
    font-size: small;
    padding: 7.5px 35px;
}

.ws-item {

    &.ws-text {
        color: $text;
        margin: 0 5.9px;

        &-selected {
            @extend .ws-text;
            font-weight: bold;
        }

        &-not-selected {
            @extend .ws-text;
        }
    }

    &.dot {
        padding: 3px 8px;
        border-radius: 100%;
        margin: 2px;

        &.selected {
            @each $name, $color in $colors {
                &.#{$name} {
                    background-color: $color;
                }
            }
        }

        &.not-selected {
            padding: 3px 5px;

            @each $name, $color in $colors {
                &.#{$name} {
                    border: 2px solid $color;
                }
            }
        }
    }
}

.battery-text {
    color: $text;
}

.battery-icon {
    color: $text;
    margin-right: 10px;
    margin-left: 3px;
}


.notification {
    min-width: 400px;
    margin-bottom: 8px;

    .notification-icon {
        padding-right: 10px;
        font-size: 36px;
        @include urgency;
    }
}

.title {
    font-weight: bold;
    font-size: large;

    @include urgency;
}

.chip {
    border-radius: $border-radius;

    &.error {
        background-color: $base08;
    }
}

.active-workspace-text {
    padding-left: 9px;
    color: $surface1;
}

.network-indicator {
    $padding: 9px;

    // the icon is larger than one char
    padding-right: 5px + $padding;
    padding-left: $padding;
}

.menu {
    border: 0;
    $x-padding: 10px;
    $menu-width: 300px;

    padding: 10px $x-padding 5px $x-padding;

    .max-width {
        min-width: $menu-width;
    }

    .slider-container {
        .slider {
            // https://docs.gtk.org/gtk3/class.Scale.html

            value {
                font-size: 0;
            }

            contents {
                slider {
                    border: 0;
                }

                trough {

                    // no idea what the selector is 
                    * {
                        background-color: $base0C;
                    }

                    & {
                        background-color: $surface1;
                        border: 0;
                        min-height: 9px;
                        border-radius: $border-radius;
                    }
                }
            }
        }

        .label {
            padding: 0;
            margin: 0 $x-padding;

            &.selected {
                font-weight: bold;
            }
        }
    }
}

.launcher {
    $highlight-color: $base0D;
    $width: 350px;
    $input-height: 30px;

    padding: 0;
    border: none;

    @mixin invert {
        color: $base00;
        background-color: $highlight-color;
    }


    .label {
        @include invert;
        padding: 0 10px;

        min-height: $input-height;
    }

    .input {
        min-height: $input-height;
        background-color: $base01;
        border-radius: 0%;
        border: 0;
        min-width: $width;
        color: $text;
        outline: none;
    }


    .results {
        min-height: 100px;
    }

    .launcher-text.first {
        @include invert;
    }
}

.mpd {
    .divider {
        background-color: $base03;
        min-width: 190px;
        min-height: 1px;
        margin: 5px;
    }

    .text {
        font-size: 30px;

        &.faded {
            color: rgba($text, .4);
        }
    }
}