$text: #cad3f5;
$base: #24273a;
$border-radius: 18px;

.container {
    $shadow-offset: 8px;
    border-radius: $border-radius;    
    background-color: $base;
    border: 2px solid black;
    margin: 20px;
    box-shadow: black $shadow-offset $shadow-offset;
    padding: 12px;
}

.command-button {
    background-color: $base;
    padding: 25px 17px;
    color: $text;
}

.icon {
    font-size: 20px;
}

.subtext {
    color: #a5adcb;
}

.bar {
    font-family: "FiraCode Nerd Font";
    background-color: #181926;
    border-bottom: 4px solid black;
    color: $text;
    font-size: small;
    padding: 7.5px 35px;
}

.ws-text {
    color: $text;
    margin: 2.3px;
}

.dot {
    padding: 3px 7px;
    border-radius: 100%;
    margin: 2px;

    &-full {
        @extend .dot;

        background-color: $text;
    }

    &-empty {
        @extend .dot;
        padding: 3px 5px;

        border: 2px solid $text;
    }
}
