$text: #cad3f5;
$base: #24273a;
$flamingo: #f0c6c6;
$sapphire: #7dc4e4;
$red: #ed8796;
$border-radius: 18px;
$teal: #8bd5ca;

.debug {
    border: 1px solid red;
}

.mb-2 {
    margin-bottom: 2.5px;
}


@mixin urgency {
    &.info {
        color: $sapphire;
    }

    &.normal {
        color: $teal;
    }

    &.critical {
        color: $red;
    }
}

.container {
    $shadow-offset: 8px;
    border-radius: $border-radius;
    background-color: $base;
    border: 2px solid black;
    margin: 20px;
    box-shadow: black $shadow-offset $shadow-offset;
    padding: 12px;

    
    font-family: "FiraCode Nerd Font";
    color: $text;

    &.horizontal {
        padding: 10px 40px;
    }
}

.command-button {
    background-color: $base;
    padding: 25px 17px;
    color: $text;

    &.horizontal {
        color: green;
        border: 1px solid red;
        margin: 10px;
    }
}

.icon {
    font-size: 20px;
}

.subtext {
    color: #a5adcb;

    &.small {
        font-size: 12px;
    }
}

.bar {
    font-family: "FiraCode Nerd Font";
    background-color: #181926;
    border-bottom: 4px solid black;
    color: $text;
    font-size: small;
    padding: 7.5px 35px;
}

.ws-text {
    color: $text;
    margin: 0 5.9px;
}

.dot {
    padding: 3px 8px;
    border-radius: 100%;
    margin: 2px;

    &-full {
        @extend .dot;

        background-color: $text;
    }

    &-empty {
        @extend .dot;
        padding: 3px 5px;

        border: 2px solid $text;
    }
}

.battery-text {
    color: #b8c0e0;
}

.battery-icon {
    color: #b8c0e0;
    margin-right: 10px;
    margin-left: 3px;
}

$search-container-height: 150px;
$search-container-width: 500px;

.container.launcher {
    padding: 0;
    min-width: $search-container-width;
    margin-bottom: 10px;
    background-color: #1e2030;
    color: $text;

    .input {
        color: $text;
    }

    entry {
        border: 0px;
        background-color: transparent;
    }
}

.input-stack {
    border-radius: $border-radius / 2;
    background-color: rgba($base, .4);

    .search-icon {
        margin-left: 10px;
        font-family: "FiraCode Nerd Font";
    }

    margin: 62.5px 32.5px;
}

.launcher-text {
    padding: 4px;

    &.first {
        background-color: #24273a;
        margin: 5px;
        border-radius: 5px;
    }
}

.cat-image {
    font-size: 200px;
    margin-top: 50px;
    margin-left: 250px;
}

.search-container {
    margin: 10px;
    border-radius: $border-radius / 2;
    min-width: $search-container-width;
    min-height: $search-container-height;
    background-color: $flamingo;
}

.results {
    min-height: 100px;
}

.notification {
    min-width: 400px;
    margin-bottom: 8px;

    .notification-icon {
        padding-right: 10px;
        font-size: 36px;
        @include urgency;
    }
}

.title {
    color: $flamingo;
    font-weight: bold;
    font-size: large;

    @include urgency;
}

