:root {
  --term-height: 60vh;
}

.split-view-view.visible:has(>#workbench\.parts\.panel) {
  height: var(--term-height) !important;
  top: 10vh !important;
}

/* TODO: we should override every child with the height attr and give it the one we want.*/
/* we should also do it with height prop to target xterm*/
#workbench\.parts\.panel>*[style*="height"] {
  height: var(--term-height) !important;
}

/* make the editor go full screen regardless */
.split-view-view:has(#workbench\.parts\.editor) {
  height: 100% !important;
}

#workbench\.parts\.editor {
  height: 100%;
}

#workbench\.parts\.editor>*[style*="height"] {
  height: 100% !important;
  position: relative !important;
}